

.scottish-flag-text {
  margin-top: .5rem;
  font-size: 48px; /* Adjust the font size as needed */
  color: white; /* Set text color to white */
  padding: 20px; /* Add padding for better visibility */
  position: relative; /* Use relative positioning for the cross */
  text-align: center;
}


.ep-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  margin: 20px;
  padding: 20px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ep-card span {
  color: rgb(115, 115, 115);
  text-align: left!important;
}

.ep-card-content {
  position: absolute;
  bottom: 20px; /* Adjust this value to control the vertical position */
  left: 0;
  right: 0;
  text-align: center;
}

.ep-card audio {
  width: 95%;
}

/* change colour of player */
.ep-card audio::-webkit-media-controls-panel {
  background-color: #1e1e1e;
  color: white;
}

/* change colour of player text */
.ep-card audio::-webkit-media-controls-current-time-display,
.ep-card audio::-webkit-media-controls-time-remaining-display {
  color: white;
}

/* remove the shadow from text */
.ep-card audio::-webkit-media-controls-timeline,
.ep-card audio::-webkit-media-controls-current-time-display,
.ep-card audio::-webkit-media-controls-time-remaining-display {
  text-shadow: none;
}

/* make the buttons white */
.ep-card audio::-webkit-media-controls-play-button,
.ep-card audio::-webkit-media-controls-mute-button,
.ep-card audio::-webkit-media-controls-overflow-button,
.ep-card audio::-webkit-media-controls-fullscreen-button
{
  filter: invert(1);
}

.ep-card audio::-webkit-media-controls-volume-slider, 
.ep-card audio::-webkit-media-controls-timeline {
  filter: invert(1);
}

.filter {
  width: 97%;
  height: 60px;
  background-color: #1e1e1e;
  margin: 0 auto;
  border-bottom: 2px solid white;
}

/* Style for the filter bar container */
.filter-bar {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  margin-bottom: 20px;
}

/* Style for filter items (Show and Date) */
.filter-item {
  display: flex;
  align-items: center;
}

/* Add a gap between filter items */
.filter-item:not(:last-child) {
  margin-right: 20px; /* Adjust the gap as needed */
}

/* Style for filter labels */
.filter-item label {
  font-weight: bold;
  margin-right: 5px; /* Add some spacing between the label and input/button */
}

/* Style for filter buttons */
.filter-button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #eee;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s;
}

/* Style for active filter buttons */
.filter-button.active {
  background-color: #007bff;
  color: #fff;
}

/* Style for the date input */
.filter-item input[type="date"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}


.rhap_container {
  bottom: 0!important;
  position: absolute!important;
}